---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">Articles can also be found on <a href="{{site.author.googlescholar}}">Google Scholar</a>.</div>
{% endif %}

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign posts_in_category = site.publications | where: "category", category[0] %}
    {% assign total = posts_in_category | size %}
    {% if total > 0 %}
      <h2>{{ category[1].title }}</h2><hr />
      {% assign index = total %}
      {% for post in posts_in_category reversed %}
        <p>[{{ index }}] {% include archive-single-cv.html %}</p>
        {% assign index = index | minus: 1 %}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% else %}
  {% assign total = site.publications | size %}
  {% assign index = total %}
  {% for post in site.publications reversed %}
    <p>[{{ index }}] {% include archive-single-cv.html %}</p>
    {% assign index = index | minus: 1 %}
  {% endfor %}
{% endif %}



